
{% load static %} 




<head>
  <meta charset="UTF-8">
  <title>Cryptocurrency Watcher React</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Miriam+Libre|Roboto'>
{% block content %}
      <link rel="stylesheet" href="{% static 'explore/css/crypto.css' %}">

 
</head>

<body>

  
<div id="i-am-a-react-app"></div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js'></script>
<script src='https://npmcdn.com/prop-types@15.6.0/prop-types.min.js'></script>
<script src='https://npmcdn.com/recharts@1.0.0-beta.9/umd/Recharts.min.js'></script>

  

    <script  src="{% static 'explore/js/crypto.js' %}"></script>




</body>

{% endblock content %}
