html,
body {
  height: 100%;
}

a {
  color: #ff477e;
}

h1,
p,
a,
span,
input,
select,
option {
  font-family: 'Fira Sans', sans-serif;
}

body {
  transition: background 300ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}
body.BTC {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url("https://steemit-production-imageproxy-upload.s3.amazonaws.com/DQmTCUD6ZfRE8PspR78pEgFHBGyet8VNqkajGvasbYGFjyN");
}
body.ETH {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url("https://karl.tech/content/images/2016/04/ethereum-road-network.jpg");
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.wrapper h1 {
  margin-bottom: 10px;
  color: #ff145a;
}
.wrapper form {
  display: flex;
}
.wrapper form input,
.wrapper form select {
  border: 0;
  background: #ff145a;
  padding: 10px;
  color: #fff;
}
.wrapper form input:not(:last-child),
.wrapper form select:not(:last-child) {
  margin-right: 10px;
}
.wrapper form input:focus,
.wrapper form select:focus {
  outline: 0;
}
.wrapper form option:selected {
  background: #1a1a1a;
}
.wrapper form option:checked {
  background: #1a1a1a;
}
.wrapper p,
.wrapper span {
  color: #fff;
}
.wrapper span {
  margin-bottom: 50px;
}
